<h1>Create a game or join one!</h1>
<div class="row mt-3">
    <div class="d-grid gap-2 col-9 mx-auto">
        <a asp-controller="Game" asp-action="Create" role="button" class="btn btn-outline-success">Create</a>
        <a asp-controller="Game" asp-action="Join" role="button" class="btn btn-outline-info">Join</a>
    </div>
</div>

