@model Wizscore.ViewModels.GameSubmitCreateViewModel
@{
    Layout = "_GameLayout";
    ViewData["Heading"] = "Create a new game!";
}
<div class="row">
    <div class="col-sm-12">
        <form asp-action="SubmitCreate" asp-controller="Game" method="post">
            <label asp-for=NumberOfPlayers class="form-label">Number of player: </label>
            <input asp-for="NumberOfPlayers" class="form-control" aria-describedby="numberOfPlayersHelp" />
            <div id="numberOfPlayersHelp" class="form-text">The number of players will dictate how many rounds you'll play</div>

            <label asp-for="Username" class="form-label">Username</label>
            <input asp-for="Username" class="form-control" aria-describedby="usernameHelp" />
            <div id="usernameHelp" class="form-text">Enter your username for this game</div>

            <button type="submit" class="btn btn-outline-success mt-5 align-self-end">Create</button>
        </form>
    </div>
</div>
