<div class="row">
    <div class="sm-col-12">
        <a asp-controller="Game" asp-action="Create" class="btn btn-success">Create</a>
    </div>
    <div class="sm-col-12">
        <a asp-controller="Game" asp-action="Join" class="btn btn-info">Join</a>
    </div>
</div>
