@model Wizscore.ViewModels.JoinSubmitViewModel
@{
    Layout = "_GameLayout";
    ViewData["Heading"] = "Join a game!";
}
<div class="row">
    <div class="col-sm-12">
        <form asp-action="JoinSubmit" asp-controller="Game" method="post">

            <label asp-for=GameKey class="form-label">Game Key: </label>
            <input asp-for="GameKey" class="form-control" aria-describedby="gamekeyHelp" />
            <div id="gamekeyHelp" class="form-text">Unique identifier of the game, should be provided by the creator of this game.</div>

            <label asp-for=Username class="form-label">Username: </label>
            <input asp-for="Username" class="form-control" aria-describedby="usernameHelp" />
            <div id="usernameHelp" class="form-text">Enter your username for this game</div>

            <button type="submit" style="width: 100%" class="btn btn-lg btn-outline-success mt-5">Join</button>
        </form>
    </div>
</div>