html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.suit-container{
    display: flex;
    justify-content: space-between;
}

.suit-container > button {
    width: 18%;
    aspect-ratio: 1 / 1;
    font-size: 30px;
}

.plus-minus-button-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.plus-button{
    width: 25%;
    aspect-ratio: 1 / 1;
    font-size: 40px;
}

.minus-button {
    width: 25%;
    aspect-ratio: 1 / 1;
    font-size: 40px;
}

.bid{
    font-size: 80px;
}